parameters:
	level: 3
	bootstrapFiles:
		- phpstan-bootstrap.php
	paths:
		- presence-api.php
		- includes/
		- uninstall.php
	scanFiles:
		- vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
		- vendor/wp-cli/wp-cli/php/utils.php
		- tests/e2e/demo-seeder.php
