<?xml version="1.0"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.2/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
>
	<testsuites>
		<testsuite name="presence-api">
			<directory suffix=".php">tests/</directory>
			<exclude>tests/e2e</exclude>
			<exclude>tests/stubs</exclude>
			<exclude>tests/bootstrap.php</exclude>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">includes/</directory>
			<file>presence-api.php</file>
		</include>
		<exclude>
			<!--
			WP_DEBUG-only developer tools. Excluded from the distributed zip via
			.distignore, so they are not measured as shipped product code either.
			-->
			<file>includes/db-viewer.php</file>
			<file>includes/debugger-widget.php</file>
		</exclude>
	</coverage>
</phpunit>
